<div class="social--container" style="  margin-top: 20px;
  width:220px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">社交媒体</h3>
    </div>
    <div class="list-group">
      <a href="http://baidu.com" class="list-group-item" target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i>10161768</a>
      <a href="https//https://weibo.com/u/2289605761" class="list-group-item" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i>欢迎关注我的微博</a>
      <a href="http://www.ecust.com/" class="list-group-item" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> 华东理工</a>
    </div>
  </div>
</div>
