.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.login{
  background-image: url("../../../assets/image/timg.jpg");
}
.login-container{
  margin-top: 20px;
  font-size:20px;
}

